{% extends "template.html" %}
{% block content %}
<form action=add_script method=post>
  <div class="row add script">
    <div class="small-4 columns">
      <label>Script name</label>
      <input type="text" name=scriptname />
      <label>Arguments</label>
      <input type="text" name=arguments placeholder="(-s arg1 -b arg2) or (arg1 arg2)" />
      <label>Users</label>
      <select name=username>
        {% for user in users %}
          <option value="{{user.name}}">{{user.name}}</option>
        {% endfor %}
      </select>
      <input class='button small' type=submit value=Add>
    </div>
  </div>
</form>
{% endblock %}