{% extends "template.html" %}
{% block content %}
  <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-10">
  {% for folder in folders %}
      <li>
        <a class=file href="{{ '/'.join([request.path, folder]) }}">
          <i class="step fi-folder size-72"></i>{{ folder }}
        </a>
      </li>
  {% endfor %}
  {% for file in files %}
      <li>
        <a class=file href="{{ '/'.join([request.path, file]) }}">
          <i class="step fi-page size-72"></i>{{ file }}
        </a>
      </li>
  {% endfor %}
  </ul>
{% endblock %}