{% extends "template.html" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Arguments</th>
      <th>Output</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for script in current_user.scripts %}
    <form action="{{url_for('run_script', id=script.id)}}" method=post>
      <tr>
        <td>{{script.name}}</td>
        <td>
          <input class='update args' type=text name=arguments value="{{script.arguments}}">
        </td>
        <td>link</td>
        <td>
          <input class='tiny button' type=submit value=Run>
        </td>
      </tr>
    </form>
    {% endfor %}
  </tbody>
</table>
{% endblock %}